@import "../mixins";
@import "../variables";

.download {
  background: $primary;
  padding: 70px 0;

  @include mq(767px) {
    padding: 40px 0;
  }

  &__title {
    color: #C3F6F7;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    @include mq(767px) {
      font-size: 24px;
      line-height: normal;
    }

    b {
      color: #FFF;
    }
  }

  &__links {
    display: flex;
    margin-top: 30px;
    justify-content: center;

    @include mq(767px) {
      flex-direction: column;
      align-items: center;
    }

    a + a {
      margin-left: 30px;

      @include mq(767px) {
        margin: 20px 0 0;
      }
    }

    a {
      transition: .2s;
      cursor: pointer;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}
