@import "../mixins";
@import "../variables";

.footer {
  padding: 70px 0;

  @include mq(767px) {
    padding: 0 0 40px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq(767px) {
      display: block;
    }
  }

  &__links {
    @include mq(767px) {
      margin-top: 20px;
    }
  }

  &__link {
    display: block;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    transition: .2s;

    &:hover {
      color: $primary;
    }
  }
}
