@import "../mixins";
@import "../variables";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% + 100px);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100px);
  transition: .3s;

  &--open {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
  }

  &__body {
    position: relative;
    background: $block-bg;
    padding: 70px 40px;
    box-shadow: 0 4px 10px rgba(217,225,238,0.15);
    border-radius: 6px;
    z-index: 1;
    overflow: hidden;
    max-width: 800px;

    @include mq(767px) {
      max-width: calc(100% - 30px);
      padding: 40px;
    }
  }

  &__close {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    font-weight: bold;
  }

  &__text {
    margin-top: 15px;
  }
}
