@import "../variables";
@import "../mixins";

.reasons {
  padding: 70px 0;
  background: url("/images/img-bg.jpg");
  background-size: cover;
  position: relative;

  @include mq(767px) {
    padding: 40px 0;
    background: $primary;
  }

  > .container {
    position: relative;

    @include mq(768px, min) {
      &:before {
        content: url("/images/dots.svg");
        position: absolute;
        top: calc(100% + 25px);
        right: calc(100% - 100px)
      }
    }
  }

  &__list {
    list-style: none;
    max-width: 750px;
    margin: 30px auto 0;
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

    & + & {
      margin-top: 20px;

      @include mq(767px) {
        margin-top: 20px;
      }
    }

    &:before {
      content: url("/images/list-check.svg");
      margin-right: 20px;
      transform: translateY(3px);

      @include mq(767px) {
        margin-right: 10px;
        transform: scale(.7);
      }
    }
  }
}
