@import "../mixins";
@import "../variables";

.tariffs {
  $self: &;
  position: relative;
  margin-top: 30px;

  &__anchor {
    transform: translateY(-150px);

    @include mq(767px) {
      transform: translateY(-20px);
    }
  }

  &-tabs {
    display: flex;
    list-style: none;

    &__item {
      font-size: 16px;
      line-height: 24px;
      padding: 12px 25px;
      background: #f7fbff;
      border: 2px solid #E2ECEF;
      min-width: 149px;
      text-align: center;
      cursor: pointer;

      @include mq(767px) {
        padding: 12px;
        min-width: 100px;
      }

      &:not(&--active) + & {
        border-left-color: transparent;
      }

      &:first-child {
        border-radius: 6px 0 0;
      }

      &:last-child {
        border-radius: 0 6px 0 0;
      }

      &--active {
        background: $block-bg;
        border-color: transparent;

        span {
          position: relative;

          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background: $secondary;
            top: calc(100% + 5px);
            left: 0;
          }
        }
      }
    }
  }

  &__wrapper {
    background: $primary;
    margin-top: 110px;
    padding: 70px 0;

    @include mq(767px) {
      margin: 0;
      padding: 40px 0;
    }
  }

  &__td-overlay {
    color: transparent;
    position: absolute;
    transform: translateY(20px);
  }

  &__table {
    max-height: 1300px;
    transition: .5s;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 6px 6px;

    @include mq(1023px) {
      overflow-x: scroll;
      width: 100%;
      border-radius: 0 6px 6px 6px;
    }

    &:not(&--hidden) {
      padding-bottom: 40px;
      background: $block-bg;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      background: #ECF4FF;
      box-shadow: 0 4px 10px rgba(217, 225, 238, 0.15);
      border-radius: 0 6px 6px 6px;

      @include mq(1023px) {
        width: 900px;
      }

      th {
        font-weight: bold;
        font-size: 22px;
        line-height: 24px;
        padding: 15px;
        text-align: center;
        width: 20%;
        color: $gray;

        &:nth-child(4) {
          color: $primary;
          background: #FFF;

          span {
            position: relative;

            &:after {
              content: "";
              display: block;
              position: absolute;
              width: 80%;
              height: 2px;
              background: $secondary;
              top: calc(100% + 5px);
              left: 10%;
            }
          }
        }
      }

      td {
        font-size: 16px;
        line-height: 24px;
        padding: 15px;
        transition: .2s;

        &:not(:first-child) {
          text-align: center;
        }

        &:nth-child(4) {
          background: #FFF;
        }
      }

      tr {
        transition: .2s;

        &:hover {
          td {
            background: lighten($block-bg, 3.2);
          }
        }
      }
    }

    &--hidden {
      max-height: 285px;

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 151px;
        background: linear-gradient(0deg, #ECF4FF 20%, rgba(255,255,255,0) 100%);

        @include mq(767px) {
          width: 500px;
        }
      }

      td:not(:first-child) {
        color: transparent;

        #{$self}__td-overlay {
          position: static;
          color: $gray;
          font-weight: 500;
          font-size: 30px;
          line-height: 24px;
          transition: .3s;
        }
      }
    }
  }

  &__arrow {
    width: 81px;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(100% - 40px);

    &--up {
      transform: rotateX(180deg);
    }

    &:after {
      content: url("/images/down-arrow.svg");
    }
  }
}
