<div class="analysis">
    <div class="container">
        <div class="block-title block-title--light"><b>Анализ</b> состояния организма</div>

        <div class="analysis__subtitle">
            Omnio анализирует полученную пульсовую волну и оценивает состояние органа или системы, определяя его <br>
            отклонение от нормального состояния баланса. Каждый орган или система может находиться в трех состояниях:
        </div>

        <div class="analysis-line">
            <div class="analysis-line__gradient"></div>

            <div class="analysis-line__desc">
                <div class="analysis-line-item analysis-line-item--purple">
                    Дефицит  (недостаток)
                </div>
                <div class="analysis-line-item analysis-line-item--green">
                    Нормальное  состояние
                </div>
                <div class="analysis-line-item analysis-line-item--red">
                    Гипертонус  (избыток)
                </div>
            </div>
        </div>

        <div class="analysis__warning">
            Любое <strong>отклонение от нормы</strong> в ту или иную сторону — <strong>повод внимательнее
            отнестись к своему состоянию.</strong>
        </div>
    </div>
</div>
