<div class="container">
    <div class="books">
        <div class="block-title">Хотите <b>больше узнать</b> о методологии?</div>

        <div class="books__row">
            <div class="books-item">
                <div class="books-item__title">Лувсан Гаваа</div>
                <div class="books-item__description">
                    “Традиционные и современные <br>
                    аспекты восточной <br>
                    рефлексотерапии”
                </div>
                <img src="/images/book-1.png" alt="" class="books-item__img">
            </div>

            <div class="books-item">
                <div class="books-item__title">Чэнь Син-сюань</div>
                <div class="books-item__description">
                    “Изложение <br>
                    китайской медицины”
                </div>
                <img src="/images/book-2.png" alt="" class="books-item__img">
            </div>

            <div class="books-item">
                <div class="books-item__title">Giovanni Maciocia</div>
                <div class="books-item__description">
                    “Diagnosis in <br>
                    Chinese Medicine”
                </div>
                <img src="/images/book-3.png" alt="" class="books-item__img">
            </div>
        </div>

        <img src="/images/cloud-2.svg" alt="" class="books__cloud-1">
        <img src="/images/cloud-3.svg" alt="" class="books__cloud-2">
        <img src="/images/dots.svg" alt="" class="books__dots">
    </div>
</div>
