<div class="container">
    <div class="description">
        <div class="block-title">Описание продукта <b>Omnio</b></div>

        <div class="description-top">
            <figure class="description-top__img">
                <img src="/images/phone.jpg" alt="">
            </figure>

            <div class="description-top__text">
                Разработанный нами сервис не ставит своей целью замену подходов современной клинической медицины.
                Основываясь на многовековом опыте китайской медицины, <strong>мы позволяем взглянуть на ту или иную
                проблему с другой стороны.</strong> <strong>Omnio</strong> даст возможность <strong>быстро и просто
                оценить состояние всех жизненно важных органов</strong> (систем) человека и вовремя заметить возможные
                проблемы и принять меры.
                <br>
                <br>
                Результат диагностики при помощи Omnio дает возможность профильным врачам и человеку взглянуть по-новому
                на известные проблемы и понять первопричины состояния организма и возможности его корректировки.
            </div>
        </div>

        <ul class="description-list">
            <li class="description-list-item">
                <figure class="description-list-item__img">
                    <img src="/images/like.svg" alt="">
                </figure>

                <div class="description-list-item__text">
                    Индивидуальный подход к вашему здоровью. Omnio – это просто!
                </div>
            </li>

            <li class="description-list-item">
                <figure class="description-list-item__img">
                    <img src="/images/like.svg" alt="">
                </figure>

                <div class="description-list-item__text">
                    Вам понадобиться только наше приложение, интернет и смартфон с камерой
                </div>
            </li>

            <li class="description-list-item">
                <figure class="description-list-item__img">
                    <img src="/images/time.svg" alt="">
                </figure>

                <div class="description-list-item__text">
                    Результат диагностики получите менее чем за минуту
                </div>
            </li>

            <li class="description-list-item">
                <figure class="description-list-item__img">
                    <img src="/images/like.svg" alt="">
                </figure>

                <div class="description-list-item__text">
                    Ваш помощник в мониторинге здоровья всегда под рукой
                </div>
            </li>

            <li class="description-list-item">
                <figure class="description-list-item__img">
                    <img src="/images/like.svg" alt="">
                </figure>

                <div class="description-list-item__text">
                    Чем чаще вы проводите регулярные измерения – тем точнее будет результат и проще для вас отследить важные изменения
                </div>
            </li>

            <li class="description-list-item">
                <figure class="description-list-item__img">
                    <img src="/images/guard.svg" alt="">
                </figure>

                <div class="description-list-item__text">
                    Omnio  - это безопасно. Мы несем ответственность за конфиденциальность ваших данных и гарантируем полную безопасность
                </div>
            </li>
        </ul>

        @@include('./left-corner.html')
        @@include('./right-corner.html')

        <div class="description__dots">
            <img src="/images/dots.svg" alt="">
        </div>
    </div>
</div>
