<div class="download">
    <div class="tariffs__anchor" id="tariffs"></div>

    <div class="container">
        <div class="download__title">
            Вы можете <b>скачать Omnio</b> и попробовать <br>
            его бесплатно в течение недели.
        </div>

        <div class="download__links">
            <a data-show-form>
                <img src="/images/google-play.svg" alt="">
            </a>

            <a data-show-form>
                <img src="/images/app-store.svg" alt="">
            </a>
        </div>
    </div>
</div>
