<div class="modal" data-error-modal>
    <div class="modal__bg" data-error-modal-close></div>
    <div class="modal__body">
        <button type="button" class="modal__close" data-error-modal-close>×</button>

        <div class="modal__content">
            <h2 class="modal__title">Что-то пошло не так...</h2>

            <div class="modal__text">
                <p>Ошибка соединения. Пожалуйста, повторите попытку через некоторое время.</p>
            </div>
        </div>

        @@include('./left-corner.html')
        @@include('./right-corner.html')
    </div>
</div>
