<header class="header">
    <div class="container">
        <a href="/" class="header__logo"><img src="/images/logo.svg" alt="Omnio – пульсовая  диагностика организма "></a>
    </div>
</header>

<header class="header header--fixed" data-fixed-header>
    <div class="container">
        <div class="header__row">
            <a href="/" class="header__logo"><img src="/images/logo.svg" alt="Omnio – пульсовая  диагностика организма "></a>
            <div class="btn btn--primary">Скачать приложение</div>
        </div>
    </div>
</header>
