<div class="container">
    <div class="how-it-works__wrapper">
        <div class="block-title">Как это <b>работает?</b></div>

        <div class="how-it-works">
            <div class="how-it-works__img">
                <img src="/images/instruction.png" alt="">
            </div>

            <div class="how-it-works__grid">
                <div class="how-it-works-item">
                    <div class="how-it-works-item__num">1</div>
                    <div class="how-it-works-item__text">
                        Вы <strong>скачиваете приложение</strong>
                    </div>
                </div>

                <div class="how-it-works-item">
                    <div class="how-it-works-item__num">2</div>
                    <div class="how-it-works-item__text">
                        <strong>Производите замеры</strong> на двух руках
                    </div>
                </div>

                <div class="how-it-works-item">
                    <div class="how-it-works-item__num">3</div>
                    <div class="how-it-works-item__text">
                        <strong>Данные</strong> отправляются к нам на сервер и <strong>анализируются</strong>
                    </div>
                </div>

                <div class="how-it-works-item how-it-works-item--large">
                    <div class="how-it-works-item__num">4</div>
                    <div class="how-it-works-item__text">
                        <strong>Omnio</strong> выводит на экран информацию о состоянии оосновных систем организма
                    </div>
                </div>

                <div class="how-it-works-item how-it-works-item--large">
                    <div class="how-it-works-item__num">5</div>
                    <div class="how-it-works-item__text">
                        Вы получаете <strong>список возможных симптомов</strong> и рекомендации
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
