<div class="container">
    <div class="how-it-works__wrapper">
        <div class="block-title">Как это <b>работает?</b></div>

        <div class="how-it-works">
            <div class="how-it-works__img">
                <img src="/images/instruction.png" alt="">
            </div>

            <div class="how-it-works__grid">
                <div class="how-it-works-item">
                    <div class="how-it-works-item__num">1</div>
                    <div class="how-it-works-item__text">
                        Скачиваете приложение
                    </div>
                </div>

                <div class="how-it-works-item">
                    <div class="how-it-works-item__num">2</div>
                    <div class="how-it-works-item__text">
                        Производите замеры на обеих руках
                    </div>
                </div>

                <div class="how-it-works-item">
                    <div class="how-it-works-item__num">3</div>
                    <div class="how-it-works-item__text">
                        Данные отправляются к нам на сервер и анализируются
                    </div>
                </div>

                <div class="how-it-works-item how-it-works-item--large">
                    <div class="how-it-works-item__num">4</div>
                    <div class="how-it-works-item__text">
                        Omnio формирует информацию о состоянии основных систем организма
                    </div>
                </div>

                <div class="how-it-works-item how-it-works-item--large">
                    <div class="how-it-works-item__num">5</div>
                    <div class="how-it-works-item__text">
                        Вы получаете описание возможных ощущений и признаков, а также рекомендации
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
