<div class="container">
    <div class="omnio-is">
        <h2 class="block-title">Что такое <b>Omnio?</b></h2>

        <div class="omnio-is__content">
            <div class="omnio-is__text">
                Пульсовая диагностика <strong>Omnio</strong> – это <strong>союз современных технологических достижений</strong>  и тысячелетнего <strong>опыта китайской медицины.</strong>
                    <br><br>

                    В основу метода <strong>Omnio</strong> положены <strong>принципы китайской медицины</strong>, по которым издревле определяли болезни и что их вызвало. Причинами заболевания могут быть внешние и внутренние патогенные факторы, эмоции, диета и образ жизни человека. Они приводят к появлению в органах человека различных симптомов и признаков. За много столетий существования и развития китайской медицины <strong>был накоплен огромный опыт</strong> в анализе взаимосвязей симптомов и признаков с дисбалансом различных органов. 
                    <br><br>

                Мы разрабатываем систему, которая <strong>определяет состояние основных органов человека</strong>  по пульсовой волне, которую мы измеряем с помощью вашего смартфона.
            </div>

            <div class="omnio-is__img">
                <img src="/images/manuscript.jpg" alt="">
            </div>
        </div>

        @@include('./left-corner.html')
        @@include('./right-corner.html')
        
        <div class="omnio-is__dots">
            <img src="/images/dots.svg" alt="">
        </div>
    </div>
</div>
