<div class="container">
    <div class="omnio-is">
        <h2 class="block-title">Что такое <b>Omnio?</b></h2>

        <div class="omnio-is__content">
            <div class="omnio-is__text">
                <p>
                    Основой метода Omnio является наука с многовековыми традициями – пульсодиагностика. Учение о пульсе по праву занимает в традиционной китайской медицине  вершину практики. Исследования помогают выявить эмоциональные нарушения, проблемы в функционировании внутренних органов и их причины. Живя в современном мире мы подвержены внешним и внутренним патогенным факторам. Накопленный столетиями опыт в анализе взаимосвязей симптомов и признаков дисбаланса различных органов используют не только восточные мастера, но и западная медицина.
                </p>

                <p>
                    Omnio соединяет в себе древние знания и современные технологии.
                </p>

                <p>Разработанная нами система, при помощи смартфона, определяет состояние основных органов человека по пульсовой волне.</p>
            </div>

            <div class="omnio-is__img">
                <img src="/images/manuscript.jpg" alt="">
            </div>
        </div>

        @@include('./left-corner.html')
        @@include('./right-corner.html')

        <div class="omnio-is__dots">
            <img src="/images/dots.svg" alt="">
        </div>
    </div>
</div>
