<div class="container organs__wrapper">
    <div class="block-title">
        Состояние каких органов <br>
        и систем может оценить <b>Оmnio:</b>
    </div>

    <div class="organs">
        <div class="organs-item">
            <figure class="organs-item__icon">
                <img src="/images/kidney.svg" alt="">
            </figure>
            <div class="organs-item__text">
                Мочевой пузырь, почки <br>
                и надпочечники
            </div>
        </div>

        <div class="organs-item">
            <figure class="organs-item__icon">
                <img src="/images/liver.svg" alt="">
            </figure>
            <div class="organs-item__text">
                Печень, желчный пузырь <br>
                 и желчные протоки
            </div>
        </div>

        <div class="organs-item">
            <figure class="organs-item__icon">
                <img src="/images/heart.svg" alt="">
            </figure>
            <div class="organs-item__text">
                Сердце, тонкий <br>
                 кишечник
            </div>
        </div>

        <div class="organs-item">
            <figure class="organs-item__icon">
                <img src="/images/stomach.svg" alt="">
            </figure>
            <div class="organs-item__text">
                Поджелудочная железа, <br>
                 селезенка, желудок
            </div>
        </div>

        <div class="organs-item">
            <figure class="organs-item__icon">
                <img src="/images/lungs.svg" alt="">
            </figure>
            <div class="organs-item__text">
                Лёгкие, толстый <br>
                 кишечник
            </div>
        </div>

        <div class="organs-item">
            <figure class="organs-item__icon">
                <img src="/images/veins.svg" alt="">
            </figure>
            <div class="organs-item__text">
                Мелкие кровеносные сосуды <br>
                 (капиллярная сеть), крупные кровеносные <br>
                 сосуды (артерии и вены).
            </div>
        </div>
    </div>
</div>
