<div class="reasons">
    <div class="container">
        <div class="block-title block-title--light">В каких ситуациях нужен <b>Omnio?</b></div>
        <ul class="reasons__list">
            <li class="reasons__item">Если вы столкнулись с проблемой и врачи долго не могут поставить диагноз и понять
                причину вашего состояния.
            </li>
            <li class="reasons__item">Если вы переживаете за себя или близкого человека, но нет возможности оперативно
                обратиться к врачу.
            </li>
            <li class="reasons__item">После перенесения заболевания и приема лекарств.</li>
            <li class="reasons__item">В период больших физических и эмоциональных нагрузок.</li>
            <li class="reasons__item">Для контроля за хроническими заболеваниями.</li>
            <li class="reasons__item">Если вы следите за диетой и хотите держать себя в форме</li>
            <li class="reasons__item">Если вы просто хотите тщательно следить за своим здоровьем и не пропустить</li>
        </ul>
    </div>
</div>
