<div class="reasons">
    <div class="container">
        <div class="block-title block-title--light">В каких ситуациях нужен <b>Omnio?</b></div>
        <ul class="reasons__list">
            <li class="reasons__item">
                Для получения дополнительной информации при сложностях с определением диагноза и пониманием причин возникшей проблемы
            </li>
            <li class="reasons__item">
                Для контроля состояния после перенесенного длительного или тяжелого заболевания , а также при приеме сильнодействующих лекарств
            </li>
            <li class="reasons__item">
                В период увеличенных физических и эмоциональных нагрузок (стрессов)
            </li>
            <li class="reasons__item">
                Для контроля состояния организма при наличии хронических заболеваний
            </li>
            <li class="reasons__item">
                При необходимости соблюдения диеты
            </li>
            <li class="reasons__item">
                В профилактических целях для наблюдения за своим физическим и эмоциональным здоровьем
            </li>
        </ul>
    </div>
</div>
