<div class="modal" data-success-modal>
    <div class="modal__bg" data-success-modal-close></div>
    <div class="modal__body">
        <button type="button" class="modal__close" data-success-modal-close>×</button>

        <div class="modal__content">
            <h2 class="modal__title">Запрос зарегистрирован.</h2>

            <div class="modal__text">
                <p>Спасибо! Мы обязательно пришлем вам приглашение по запуску нашего продукта.</p>
            </div>
        </div>

        @@include('./left-corner.html')
        @@include('./right-corner.html')
    </div>
</div>
