<div class="tariffs__wrapper">
    <div class="tariffs__anchor" id="tariffs"></div>
    <div class="container">
        <div class="block-title block-title--light"><b>Тарифные</b> планы:</div>

        <div class="tariffs">
            <ul class="tariffs-tabs">
                <li class="tariffs-tabs__item tariffs-tabs__item--active" data-tariffs-tab data-tariffs-tab-month><span>1 месяц</span></li>
                <li class="tariffs-tabs__item" data-tariffs-tab data-tariffs-tab-year><span>Год</span></li>
                <!--<li class="tariffs-tabs__item" data-tariffs-tab><span>Пакетные предложения</span></li>-->
            </ul>

            <div class="tariffs__table tariffs__table--hidden" data-tariffs-table>
                <table>
                    <tr>
                        <th></th>
                        <th><span>Пробная</span></th>
                        <th><span>Стандартная</span></th>
                        <th><span>Премимум</span></th>
                    </tr>
                    <tr>
                        <td>Измерить пульс и артериальное давление (количество измерений за 24ч.)</td>

                        <td>
                            <span>1</span>

                            <div class="tariffs__td-overlay">Free</div>
                        </td>

                        <td>
                            <span>2</span>

                            <div class="tariffs__td-overlay" data-month-price>600 ₽</div>
                            <div class="tariffs__td-overlay" data-year-price style="display: none;">6000 ₽</div>
                        </td>

                        <td>
                            <span>5</span>

                            <div class="tariffs__td-overlay" data-month-price>800 ₽</div>
                            <div class="tariffs__td-overlay" data-year-price style="display: none;">8000 ₽</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Стоимость дополнительного анализа</td>
                        <td>30 ₽</td>
                        <td>25 ₽</td>
                        <td>10 ₽</td>
                    </tr>
                    <tr>
                        <td>Количество анализируемых систем</td>
                        <td>6</td>
                        <td>6</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Определяемые состояния каждого органа</td>
                        <td>Недостаток, норма, избыток</td>
                        <td>Недостаток, норма, избыток</td>
                        <td>Недостаток (3 вида), норма, избыток (3 вида)</td>
                    </tr>
                    <tr>
                        <td>Анализ симптоматики</td>
                        <td>1 орган</td>
                        <td>6 органов</td>
                        <td>12 органов</td>
                    </tr>
                    <tr>
                        <td>Рекомендации по питанию</td>
                        <td>1 раз</td>
                        <td>4 раза</td>
                        <td>8 раз</td>
                    </tr>
                    <tr>
                        <td>Уровень стресса</td>
                        <td>一</td>
                        <td>一</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>Рекомендации по БАД</td>
                        <td>一</td>
                        <td>一</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>Рекомендации по травяным составам</td>
                        <td>一</td>
                        <td>一</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>Удаленная консультация специалиста</td>
                        <td>一</td>
                        <td>一</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>Стоимость</td>

                        <td>Бесплатно 7 дней</td>

                        <td>
                            <span data-month-price>600 ₽</span>
                            <span data-year-price style="display: none;">6000 ₽</span>
                        </td>

                        <td>
                            <span data-month-price>800 ₽</span>
                            <span data-year-price style="display: none;">8000 ₽</span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="tariffs__arrow" data-tariffs-toggle></div>
        </div>
    </div>
</div>
