<div class="tariffs__wrapper">
    <div class="container">
        <div class="block-title block-title--light"><b>Тарифные</b> планы:</div>

        <div class="tariffs">
            <ul class="tariffs-tabs">
                <li class="tariffs-tabs__item tariffs-tabs__item--active" data-tariffs-tab data-tariffs-tab-month><span>1 месяц</span></li>
                <li class="tariffs-tabs__item" data-tariffs-tab data-tariffs-tab-year><span>Год</span></li>
                <!--<li class="tariffs-tabs__item" data-tariffs-tab><span>Пакетные предложения</span></li>-->
            </ul>

            <div class="tariffs__table tariffs__table--hidden" data-tariffs-table>
                <table>
                    <tr>
                        <th></th>
                        <th><span>Пробная</span></th>
                        <th><span>Бесплатная</span></th>
                        <th><span>Стандартная</span></th>
                        <th><span>Премимум</span></th>
                    </tr>

                    <tr>
                        <td>Количество замеров пульса в день</td>

                        <td>
                            <span><strong>Неограниченно</strong></span>
                            <div class="tariffs__td-overlay">Free</div>
                        </td>

                        <td>
                            <span><strong>Неограниченно</strong></span>
                            <div class="tariffs__td-overlay">Free</div>
                        </td>

                        <td>
                            <span><strong>Неограниченно</strong></span>
                            <div class="tariffs__td-overlay" data-month-price>800 ₽</div>
                            <div class="tariffs__td-overlay" data-year-price style="display: none;">6000 ₽</div>
                        </td>

                        <td>
                            <span><strong>Неограниченно</strong></span>
                            <div class="tariffs__td-overlay" data-month-price>1120 ₽</div>
                            <div class="tariffs__td-overlay" data-year-price style="display: none;">9000 ₽</div>
                        </td>
                    </tr>

                    <tr>
                        <td>Количество анализов пульса в день</td>

                        <td>
                            <span><strong>1</strong></span>
                        </td>

                        <td>
                            <span><strong>1</strong></span>
                        </td>

                        <td>
                            <span><strong>2</strong></span>
                        </td>

                        <td>
                            <span><strong>5</strong></span>
                        </td>
                    </tr>

                    <tr>
                        <td>Стоимость дополнительного анализа</td>
                        <td><strong>-</strong></td>
                        <td><strong>-</strong></td>
                        <td><strong>50 ₽</strong></td>
                        <td><strong>30 ₽</strong></td>
                    </tr>

                    <tr>
                        <td>Количество анализируемых органов(систем)</td>
                        <td><strong>6</strong></td>
                        <td><strong>1</strong></td>
                        <td><strong>6</strong></td>
                        <td><strong>12</strong></td>
                    </tr>

                    <tr>
                        <td>
                            Количество состояний  органов(систем)
                        </td>
                        <td>
                            <strong>3</strong> <br>
                            (недостаток, норма, избыток)
                        </td>
                        <td>
                            <strong>3</strong> <br>
                            (недостаток, норма, избыток)
                        </td>
                        <td>
                            <strong>3</strong> <br>
                            (недостаток, норма, избыток)
                        </td>
                        <td>
                            <strong>7</strong> <br>
                            (сильный недостаток, средний недостаток, слабый недостаток, норма, слабый избыток, средний избыток, сильный избыток)
                        </td>
                    </tr>

                    <tr>
                        <td>Диаграмма состояния органов</td>
                        <td>по всем органам - <strong>6</strong></td>
                        <td>по одному органу (случайный выбор) - <strong>1</strong></td>
                        <td>по всем органам - <strong>6</strong></td>
                        <td>по всем органам - <strong>12</strong></td>
                    </tr>

                    <tr>
                        <td>Анализ симптоматики</td>
                        <td>Для одного органа, не находящегося в норме</td>
                        <td>-</td>
                        <td>По <strong>всем органам</strong>, не находящимся в норме</td>
                        <td>По <strong>всем органам</strong>, не находящимся в норме</td>
                    </tr>

                    <tr>
                        <td>Рекомендации</td>
                        <td><strong>1 раз</strong> в течение пробного периода по одному органу</td>
                        <td>-</td>
                        <td><strong>1 раз в месяц</strong>, по всем органам, не находящимся в норме</td>
                        <td><strong>1 раз в две недели</strong>, по всем органам, не находящимся в норме</td>
                    </tr>

                    <tr>
                        <td>Стоимость</td>

                        <td>Бесплатно 7 дней</td>

                        <td>Бесплатно</td>

                        <td>
                            <span data-month-price>800 ₽</span>
                            <span data-year-price style="display: none;">6000 ₽</span>
                        </td>

                        <td>
                            <span data-month-price>1120 ₽</span>
                            <span data-year-price style="display: none;">9000 ₽</span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="tariffs__arrow" data-tariffs-toggle></div>
        </div>
    </div>
</div>
