<div class="container">
    <div class="top-screen">
        <div class="top-screen__text">
            <h1 class="top-screen__title">
                <b>Omnio</b> – пульсовая  диагностика организма <br>
                <i>с помощью смартфона</i>
            </h1>

            <div class="top-screen-desc">
                <span>+</span>
                <div class="top-screen-desc__text">
                    Древние китайские знания  <br>
                    Новейшие технологии.
                </div>
            </div>

            <div class="top-screen__btn">
                <a href="#tariffs">
                    <button class="btn btn--primary" data-scroll-to-tariffs>Скачать приложение</button>
                </a>
            </div>
        </div>

        <div class="top-screen__img">
            <img src="/images/hand.png" alt="">
        </div>

        <div class="top-screen__dots">
            <img src="images/dots.svg" alt="">
        </div>

        <div class="top-screen__cloud">
            <img src="/images/cloud-1.svg" alt="">
        </div>
    </div>
</div>
