html {
  font-size: 16px;
}

body {
  margin: 0;
}

h1, h2 {
  font-family: 'museo-sans';
  font-weight: 900;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
}
