@import "variables";

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $text;
  font-weight: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'museo-sans';
  font-weight: 900;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol, figure {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 500;
}

p {
  margin: 0;
}
