@import "variables";

.btn {
  font-family: 'ABeeZee', sans-serif;
  padding: 15px 30px;
  border-radius: 40px;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: .3s;
  border: none;

  &--primary {
    background: $secondary;
    color: #FFF;
    box-shadow: 0 4px 10px rgba(255, 104, 121, 0.4);

    &:hover {
      background: darken($secondary, 20);
    }
  }
}

.block-title {
  font-weight: bold;
  font-size: 44px;
  line-height: 53px;
  text-align: center;

  b {
    color: $primary;
  }
}
